@use "sass:map";

$root: ".row";

#{$root} {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$selectors: (
  ".p": "padding",
  ".pb": "padding-bottom",
  ".pt": "padding-top",
  ".pl": "padding-left",
  ".pr": "padding-right",
  ".m": "margin",
  ".mb": "margin-bottom",
  ".mt": "margin-top",
  ".ml": "margin-left",
  ".mr": "margin-right",
  ".gap": "gap",
);

@mixin set_selector($selector, $prop, $unit: "px", $to: 40) {
  @for $i from 1 through $to {
    #{$selector}_#{$i} {
      #{$prop}: #{$i}#{$unit};
    }
  }
}

@mixin set_selectors($map, $unit: "px") {
  @each $selector, $prop in $map {
    @include set-selector($selector: $selector, $prop: $prop, $unit: $unit);
  }
}

@include set-selectors($selectors);

.justify_content__space-between {
  justify-content: space-between;
}

.justify_content__space-around {
  justify-content: space-around;
}

.align_items__center {
  align-items: center;
}

$primary-color: "color";
