{
  "jsxSingleQuote": true,
  "max-len": [
    1,
    {
      "code": 100
    }
  ],
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid"
}